page-login {
    * {
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }

    ion-title * {
        margin-top: 20vh;
        margin-bottom: 10vh;
    }

    form{
        margin-bottom: 32px;
        button{
            margin-top: 20px !important;
        }
    }

    p{
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label{
        margin-left: 5px;
    }

    ion-input{
        padding: 5px;
    }

    .invalid{
        border-bottom: 1px solid #ff6153;
    }

    .error-message{
        min-height: 2.2rem;
        p{
            font-size: 60%;
        }
        ion-label{
            margin: 2px 0;
        }
        .item-inner{
            border-bottom: 0 !important;
        }
    }

    .text-center {
        display: block;
        text-align: center;

        margin-top: 10px;
    }
    
    .btn-login {
        margin-top: 10vh;
        padding: 10px;

        border-radius: 5px;
    }
}
