<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Ingreso</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding center text-center>

  <ion-title>Ingreso</ion-title>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Correo Electrónico" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>Ingrese una dirección de correo electrónico.</p>
    </ion-item>

    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Contraseña" [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      <p>Mínimo 6 carácteres.</p>
    </ion-item>

    <button ion-button block text-uppercase outline type="submit" class="btn-login" [disabled]="!loginForm.valid">
      Ingresar
    </button>
  </form>


  <ion-row class="text-center">
    <label><a (click)="goToSignup()">Crear Cuenta</a></label>
  </ion-row>

  <ion-row class="text-center">
    <label><a (click)="goToResetPassword()">Olvide mi Contraseña</a></label>
  </ion-row>

</ion-content>