page-questions {
    *{
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 13px;
    }

    .background-img {
        background-image: url('../../assets/imgs/background-1.png');
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
    }

    .rounded {
        border-radius: 50%;
        width: 90px;
        height: 90px;

        font-size: 40px;
    }

    .navbarLogo {
        width: 50px;
    }

    ion-title{
        float: right;
        margin-top: 6px; 
    }

    .toolbar-title-md {
        color: rgb(64, 143, 146);
    }

    .icon-footer{
        font-size: 50px;
        color: rgb(64, 143, 146);
    }

    .toolbar-background-md{
        background: transparent;
    }


    //Estilo Pie Chart Interfaces
}
